@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: 'Luxurious Roman', cursive;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

h1 {
  line-height: 1.4;
}

.btn {
  border: 0;
  background-color: whitesmoke;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.screen.down {
  margin-top: 100vh;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-family: inherit;
  width: 150px;
  height: 150px;
}

.choose-insect-btn:hover {
  background-color: white;
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.game-container {
  position: relative;
  font-size: 24px;
}

#time,
#score {
  position: absolute;
  top: 20px;
}

#time {
  left: 20px;
}

#score {
  right: 20px;
}

.message {
  line-height: 1.7;
  background-color: whitesmoke;
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.visible {
  transform: translate(-50%, 150%);
  opacity: 1;
}

.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3 ease-in-out;
}

.insect:hover {
  box-shadow: 3px 3px 5px black;
}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  width: 100px;
  height: 100px;
}
